.card{
  width:300px;
 
}

.card-img-top{
    width:90%;
    margin: 0 auto;
    padding: 5%;
}

.listitems li {
display:inline-block;
margin-left:2%;
margin-top: 2%;

}

.listitems{
  
}
.price{
    font-size:25px;
}